button.submitButton {
  padding:auto;
  margin: auto;
  font-size: 14px;
  font-weight:400;
  background-color: #9054fc; /* Background color */
  color: white; /* Text color */
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button.submitButton:hover {
  background-color: #0056b3; /* Change background color on hover */
}