.container {
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
}

textarea {
    /* Text Area Configs */
    width: 100% !important;
    min-width: 400px !important; 
    max-width: 100% !important;
    height: 600px !important; /* Increase the height as desired */
    min-height: 200px !important;
    max-height: 600px !important;
    box-sizing: border-box;
    resize: both !important;
    background-color: #15161a;
    border: 2px solid white;
    border-radius: 5px;
    /* Font Configs */
    color: white !important;
    font-size: 14px;
    font-weight: 400;
    font-family: Arial, sans-serif;
}

/* Padding for 1080p width */
@media screen and (max-width: 1080px) {
    .content {
        padding: 20px;
    }
}

/* Padding for 2160p width */
@media screen and (max-width: 2160px) {
    .content {
        padding: 15px;
    }
}
