body {
    font-family: Arial, sans-serif;
    background-color: #333;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }

.container {
    background: #222;
    padding: 20px;
    border-radius: 5px;
}

.button {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    font-size: 1em;
}

.google {
    background-color: #dd4b39;
    color: white;
}

.microsoft {
    background-color: #0066ff;
    color: white;
}

.email, .password {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #555;
    background-color: #333;
    color: white;
}

.sso {
    background-color: #1a1a1a;
    color: white;
}

.login {
    text-align: center;
    margin-top: 20px;
    color: #aaa;
}