body {
    color:21, 22, 26;
    font-size: 14px;
    font-weight: 400;
    font-family: Arial, sans-serif;
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }

.container {
    background: 21, 22, 26;
    padding: 20px;
    border-radius: 5px;
}

.button {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    max-width: 500px;
    overflow: hidden; 
    text-overflow: ellipsis; 
    white-space: nowrap;
    background-color: #778899;
}

.google {
    background-color: #778899;
    color: lightblue;
}

.microsoft {
    background-color: #778899;
    color: lightblue;
}

.email, .password {
    width: 100%;
    padding: 5px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #555;
    background-color: #778899;
    color: lightblue;
}

.sso {
    background-color: #778899;
    color: lightblue;
}

.login {
    text-align: center;
    margin-top: 20px;
    color: white;
}