.container {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.container a {
    padding: 10px;
    border: 1px outset buttonborder;
    border-radius: 5px;
    text-decoration: none;
}

.container a:hover{
    background-color: darkcyan;
}